.footer {
  margin-top: 3px;
  background-color: #000;

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .topFooter {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      align-items: center;

      @media (max-width: 767px) {
        margin-top: 20px;
      }

      .topFooterTitleBlock {
        display: flex;
        flex-direction: column;
        text-align: center;

        .topFooterTitle {
          color: #fff;
          font-size: 26px;
          font-weight: 600;

          @media (max-width: 767px) {
            font-size: 20px;
          }
        }

        .topFootetSupTitle {
          color: #fff;
          font-size: 20px;
          margin-top: 15px;

          @media (max-width: 767px) {
            font-size: 17px;
          }
        }
      }

      .topFooterContactBlock {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        text-align: center;

        @media (max-width: 767px) {
          margin-top: 20px;
        }

        .topFooterContactText {
          color: #fff;
          font-size: 20px;
          font-weight: 600;

          @media (max-width: 767px) {
            font-size: 17px;
          }
        }
      }
    }
    .bottomFooter {
      display: flex;
      margin-top: 80px;
      align-items: center;
      justify-content: space-around;
      color: #fff;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        margin-top: 20px;
        flex-direction: column;
      }
      .rights {
        @media (max-width: 767px) {
          order: 1;
          font-size: 12px;
        }
      }
      
      .shortInfo {
        color: #fff;
        text-decoration: none;
      }
      .shortInfo:hover {
        color: #FA5252;
      }
      .indexHeaderLogo {
        width: 200px;
        height: 60px;
        cursor: pointer;

        @media (max-width: 767px) {
          order: 0;
        }
      }
    }
  }
}