.accordion {
  margin-top: 40px;
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px #fff solid;

  @media (max-width: 767px) {
    margin-top: 30px;
    width: 80%;
  }

  .accordionTitle {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  .accordionImage {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    @media (max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }

  .accordionImageActive {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
}
.accordion:last-child {
  margin-bottom: 60px;
}
