.courseSelect {
  margin-top: 3px;
  background-color: #000;
  
  .courseSelectContent {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
  }

  .courseAccess {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      flex-direction: column;
    } 

    .courseAccessText {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      text-align: center;

    }
    .aboutArrows {
      display: flex;
      justify-content: center;
      transform: rotate(90deg);
      margin: 20px;

      @media (max-width: 767px) {
        margin: 10px;
      }

      .aboutArrowsImage {
        width: 40px;
        height: 40px;

        @media (max-width: 767px) {
          transform: rotate(90deg);
        } 
      }
    }

    .aboutContinue {
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0px;

      .aboutContinueInput {
        cursor: pointer;
        width: 200px;
        padding: 10px 10px 10px 10px;
        background-color: #FA5252;
        border-radius: 30px;
        font-weight: 600;
        font-size: 20px;
        border: 2px #FA5252 solid;

        @media (max-width: 767px) {
          padding: 15px 5px 15px 5px;
        }
      }

      .aboutContinueInput:hover {
        color: #fff;
        border: 2px #fff solid;
        transition: 0.5s;
      }
    }
  }
}